<div class="container mt-5">
  <div class="card col-8 col-lg-8 mx-auto mt-4">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Detalles de la publicación</h2>
      <div *ngIf="post">
        <p class="card-text"><strong>Titulo:</strong> {{ post.title }}</p>
        <p class="card-text"><strong>Contenido:</strong> {{ post.content }}</p>
      </div>
      <div *ngIf="!post" class="text-center">
        <p class="card-text">No post details available.</p>
      </div>
    </div>
  </div>
</div>
