<div class="m-5 p-5 mt-4">
  <h2>Películas</h2>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-info text-white col-4"
    (click)="openModal()"
  >
    AGREGAR PELICULA
  </button>
  <div
    class="modal"
    [style.display]="showModal ? 'block' : 'none'"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{ modalTitle }}</h1>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
            aria-label="Cancelar"
          ></button>
        </div>
        <form
          (ngSubmit)="
            currentItem._id
              ? updateItem(currentItem._id, currentItem)
              : createItem(currentItem);
            closeModal()
          "
        >
          <div class="modal-body row">
            <div class="form-group col-6">
              <label for="name">Título:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="currentItem.name"
                name="name"
                required
                #name="ngModel"
                [ngClass]="{
                  'is-invalid': name.invalid && (name.dirty || name.touched)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="name.invalid && (name.dirty || name.touched)"
              >
                Este campo es requerido.
              </div>
            </div>

            <div class="form-group col-6">
              <label for="description">Descripción:</label>
              <textarea
                class="form-control"
                [(ngModel)]="currentItem.description"
                name="description"
                required
                #description="ngModel"
                [ngClass]="{
                  'is-invalid':
                    description.invalid &&
                    (description.dirty || description.touched)
                }"
              ></textarea>
              <div
                class="invalid-feedback"
                *ngIf="name.invalid && (name.dirty || name.touched)"
              >
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group col-6">
              <label for="genero">Género:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="currentItem.genero"
                name="genero"
                required
                #genero="ngModel"
                [ngClass]="{
                  'is-invalid':
                    genero.invalid && (genero.dirty || genero.touched)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="genero.invalid && (genero.dirty || genero.touched)"
              >
                Este campo es requerido.
              </div>
            </div>

            <div class="form-group col-6">
              <label for="fecha">Fecha de Estreno:</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="currentItem.fecha"
                name="fecha"
                required
                #fecha="ngModel"
                [ngClass]="{
                  'is-invalid': fecha.invalid && (fecha.dirty || fecha.touched)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
              >
                Este campo es requerido.
              </div>
            </div>
            <div class="form-group col-6">
              <label for="imagen">Url de la imagen:</label>
              <input
                class="form-control"
                [(ngModel)]="currentItem.imagen"
                name="imagen"
                required
                #imagen="ngModel"
                [ngClass]="{
                  'is-invalid':
                    imagen.invalid && (imagen.dirty || imagen.touched)
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)"
              >
                Este campo es requerido.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModal()"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-info text-white col-6">
              {{ currentItem._id ? "Actualizar" : "Agregar" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr />

  <input
    type="text"
    class="form-control mb-3"
    placeholder="Buscar películas"
    [(ngModel)]="searchTerm"
  />
  <div class="form-group">
    <label for="orderSelect">Ordenar por:</label>
    <button class="btn btn-secondary btn-sm ml-3" (click)="sortList('name')">
      Título
    </button>
    <button class="btn btn-secondary btn-sm ml-3" (click)="sortList('fecha')">
      Fecha
    </button>
    <button class="btn btn-secondary btn-sm ml-3" (click)="sortList('genero')">
      Género
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Género</th>
        <th>Fecha de Estreno</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.genero }}</td>
        <td>{{ formatDate(item.fecha) }}</td>
        <td>
          <img
            *ngIf="item.imagen"
            [src]="item.imagen"
            alt="Imagen de la película"
            style="max-width: 100px; max-height: 100px"
          />
        </td>
        <td>
          <!-- Botones de acción con confirmación para eliminar -->
          <button
            class="btn btn-sm btn-primary"
            (click)="editItem(item._id); openModal()"
          >
            Editar
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="openDeleteConfirmationModal(item)"
          >
            Eliminar
          </button>
          <!-- Modal de confirmación de eliminación -->
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="modal"
    [style.display]="showDeleteConfirmationModal ? 'block' : 'none'"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">Eliminar Pelicula</h5>
          <button
            type="button"
            class="close"
            (click)="closeDeleteConfirmationModal()"
            aria-label="Cancelar"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <b>
            ¿Estás seguro de que deseas eliminar la película "{{
              deleteConfirmationItem?.name
            }}"?
          </b>

          <p class="text-center">Esta accion es irreversible</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeDeleteConfirmationModal()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteItem(deleteConfirmationItem?._id)"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
